@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.section {
  padding-top: 120px;
}

.section_container_inner {
  @include flex-column-center;
}

.card_slide_section {
  padding: 130px 0;
  background-color: $color-light-green;

  :global(.container) {
    max-width: 100%;
  }
  @include max-sm {
    padding: 80px 0;
  }
}

.card_slide_wrap {
  margin-top: 80px;
  width: 100%;
  @include max-sm {
    margin-top: 40px;
  }
}

.card_swiper {
  padding: 0 20px;

  :global(.swiper-wrapper) {
    display: flex;
    align-items: stretch; // This will make all slides have the same height
  }
}

.card_swiper_pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  :global(.swiper-pagination-bullet) {
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 2px solid $color-primary;
    background-color: transparent;
    opacity: 1;
    transition: background-color 0.3s ease;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: $color-primary;
  }
}
