// Breakpoints
$breakpoint-xs: 375px;
$breakpoint-sm: 430px;
$breakpoint-md: 768px;
$breakpoint-lg: 1100px;

@mixin max-xs {
  @media (max-width: #{$breakpoint-xs - 1px}) {
    @content;
  }
}
@mixin max-sm {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}
@mixin max-md {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}
@mixin max-lg {
  @media (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}
