/**
 * Pretendard Variable Font
 * - font-display: swap으로 FOUT 방지
 */

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  unicode-range: U+0020-007E, U+1100-11FF, U+3130-318F, U+AC00-D7A3, U+FF00-FFEF;
}
