@use './fonts';
@use './variables' as *;
@use './mixins' as *;
@use './breakpoints' as *;

// CSS Reset & Normalization
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

  @include reduced-motion {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  color: $color-link;
  background-color: $color-light-background;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

// Typography Reset
.text-color-headline {
  color: $color-black;
}
.text-color-link {
  color: $color-link;
}
.text-color-paragraph {
  color: $color-paragraph;
}
.text-color-caption {
  color: $color-caption;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  line-height: inherit;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: $transition-fast;

  &:hover {
    text-decoration: none;
  }

  @include focus-visible;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Form Elements Reset
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  @include button-reset;
  @include focus-visible;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    cursor: pointer;
  }
}

input,
select,
textarea {
  border: 1px solid $color-light-gray;
  border-radius: 4px;
  padding: 0;
  background-color: #fff;
  transition: $transition-fast;

  @include focus-visible;

  &:hover:not(:disabled) {
    border-color: $color-gray;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &::placeholder {
  }
}

textarea {
  resize: vertical;
  min-height: 100px;
}

// Media Elements
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  @include img-fluid;
}

// Container
.container {
  @include container;

  @include max-sm {
    @include container($max-width-mobile);
  }
}

// Text
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Focus & Selection Styles
:focus-visible {
  outline: 2px solid $color-green;
  outline-offset: 2px;
}

// typography Styles
.typo-h1 {
  @include typography-heading1;
}
.typo-h2 {
  @include typography-heading2;
}

.typo-h3 {
  @include typography-heading3;
}

.typo-paragraph {
  @include typography-paragraph;
}
.typo-link {
  @include typography-link;
}
.typo-caption {
  @include typography-caption;
}

// Fade-in animation
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-container {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.is-visible {
    animation: fadeInUp 0.8s ease-out forwards;
  }

  @include reduced-motion {
    animation: none;
    opacity: 1;
    transform: none;

    &.is-visible {
      animation: none;
    }
  }
}
