@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

@mixin button-text-base {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: $line-height-200;
  letter-spacing: $letter-spacing-00;
}

.filled_button {
  gap: 6px;
  border-width: $border-width;
  border-style: solid;
  border-radius: 60px;
  transition: $transition-fast;
  @include flex-center;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    color: $color-white;
    background: $color-primary;
    border-color: $color-primary;

    &:hover {
      background: darken($color-primary, 5%);
    }
  }
  &.gray {
    color: $color-white;
    background: $color-gray;
    border-color: $color-gray;

    &:hover {
      background: darken($color-gray, 5%);
    }
  }
  &.size_xl {
    padding: 0 19px;
    height: 56px;
    @include button-text-base;
  }
  &.size_lg {
    padding: 0 14px;
    height: 48px;
    @include button-text-base;
  }
  &.size_md {
    padding: 0 14px;
    height: 40px;
    @include button-text-base;
  }
  &.size_sm {
    padding: 0 10px;
    height: 32px;
    font-size: 13px;
    font-weight: $font-weight-bold;
    line-height: 1.8;
    letter-spacing: $letter-spacing-00;
  }

  &:disabled,
  &:hover:disabled {
    background: $color-light-gray;
    border-color: $color-light-gray;
    cursor: default;
  }
  & .button_icon {
    color: inherit;
    line-height: 1;
    @include flex-center;
  }
}
