@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.language_button {
  width: 86px;
  height: 36px;
  gap: 4px;
  color: $color-paragraph;
  background: $color-white;
  border: 0;
  @include flex-center;

  span {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0%;
  }
  svg,
  img {
    transition: $transition-fast;
  }
}
.language_popover {
  padding: 4px 0;
  min-width: 96px;
  position: fixed;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 99;
  border-radius: 12px;
  overflow: hidden;

  .language_popover_button {
    padding: 0 12px;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: $color-paragraph;
    @include typography-caption;

    &.active {
      background: $color-green;
    }
  }
}
