@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.language_button {
  width: 86px;
  height: 36px;
  gap: 4px;
  color: $color-paragraph;
  border: 0;
  background: transparent;
  @include flex-center;

  &:hover {
    cursor: pointer;
  }

  span {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0%;
  }
  svg,
  img {
    transition: $transition-fast;
  }
}
.language_popover {
  min-width: 96px;
  position: fixed;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 99;
  border-radius: 12px;
  overflow: hidden;
  background: $color-white;
  border: 0;
  .language_popover_button {
    padding: 0 18px;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    color: $color-link;
    font-size: $heading3-font-size-mobile;
    font-weight: $heading3-font-weight;
    line-height: $heading3-line-height;
    letter-spacing: $heading3-letter-spacing;
    transition: $transition-base;

    &:hover {
      cursor: pointer;
      background-color: #f6f7f7;
    }
  }
}
