@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.section {
  // section 스타일 작성
  padding-top: 120px;
}
.section_container_inner {
  @include flex-column-center;
}

.image_tab_section {
  padding: 120px 0;
}
.image_tab_wrap {
  margin-top: 80px;
  width: 100%;
  @include flex-column-center;

  @include max-sm {
    margin-top: 40px;
  }
}

.tab_button_group_width {
  max-width: 204 * 3px;
}
.tab_content_container {
  margin-top: 60px;
  position: relative;
  width: 100%;
  max-width: 892px;
  aspect-ratio: 892 / 620;
  @include aspect-ratio(892, 620);

  @include max-sm {
    margin-top: 40px;
    aspect-ratio: 361 / (385 - 32);
    @include aspect-ratio(361, (385 - 32));
  }
}

.tab_content {
  padding: 0 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex-column-center;

  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.tab_content.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.tab_content_image_box {
  width: 100%;
  max-width: 892px;
  overflow: hidden;
  aspect-ratio: 892 / 620;
  @include aspect-ratio(892, 620);

  @include max-sm {
    max-width: 361px;
    aspect-ratio: 361 / 385;
    @include aspect-ratio(361, 385);
  }
}

.tab_content_image {
  width: 100%;
  @include img-fluid;
}
