@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.storybook_page {
  margin: 0 auto;
  max-width: 600px;

  h2 {
    display: inline-block;
    vertical-align: top;
  }

  p {
    margin: 1em 0;
  }

  a {
    color: inherit;
  }

  ul {
    margin: 1em 0;
    padding-left: 30px;
  }

  li {
  }

  .tip {
    display: inline-block;
    vertical-align: top;
    background: #e7fdd8;
    color: #357a14;
    font-size: 11px;
    line-height: 12px;
  }

  .tip_wrapper {
    font-size: 13px;
  }

  .tip_wrapper svg {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    width: 12px;
    height: 12px;
  }

  .tip_wrapper svg path {
    fill: #1ea7fd;
  }
}
