@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.wrap {
  width: 100%;
  min-height: 100vh;
}

.main {
  // main 스타일 작성
}

.section {
  // section 스타일 작성
  padding-top: 120px;
}
.section_container_inner {
  @include flex-column-center;
}