@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.wrap {
  width: 100%;
  min-height: 100vh;
}

.main {
  // main 스타일 작성
}

.section {
  // section 스타일 작성
  padding-top: 120px;
}
.section_container_inner {
  @include flex-column-center;
}
.hero_section {
  padding-top: 130px;

  &_title_box {
    gap: 24px;
    @include flex-column-center;
  }
}
.hero_section_image_box {
  margin-top: 100px;
  position: relative;
  width: 100%;
  max-width: 907px;
  aspect-ratio: 907 / 502;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 37.85%,
      rgba(255, 255, 255, 0.5) 71.71%,
      #ffffff 99.2%
    );
    pointer-events: none;
    z-index: 1;
  }

  .hero_section_image {
    max-width: 100%;
    @include fade-in;
  }

  @include max-lg {
    padding: 0 16px;
  }
  @include max-sm {
    margin-top: 40px;
    max-width: calc(270px + 32px);
    aspect-ratio: 302 / 473;

    &::after {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) calc(29.53% * 473 / 270),
        rgba(255, 255, 255, 0.5) calc(55.93% * 473 / 270),
        #ffffff calc(77.25% * 473 / 270)
      );
    }
  }
}

.video_section {
  padding-top: 120px;
}
.video_box_wrap {
  @include max-lg {
    padding: 0 16px;
  }
}
.video_box {
  margin-top: 80px;
  border-radius: 30px;
  max-width: 892px;
  aspect-ratio: 892 / 504;
  overflow: hidden;

  @include max-lg {
    margin-top: 40px;
    aspect-ratio: 361 / 204;
  }
}

.image_tab_section {
  padding-top: 120px;
}
.image_tab_wrap {
  margin-top: 80px;
  width: 100%;
  @include flex-column-center;

  @include max-sm {
    margin-top: 40px;
  }
}

.tab_button_group_width {
  max-width: 204 * 3px;
}
.tab_content_container {
  margin-top: 60px;
  position: relative;
  width: 100%;
  max-width: 892px;
  aspect-ratio: 892 / 620;

  @include max-sm {
    margin-top: 40px;
    aspect-ratio: 361 / (385 - 32);
  }
}

.tab_content {
  padding: 0 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex-column-center;

  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.tab_content.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.tab_content_image_box {
  width: 100%;
  max-width: 892px;
  overflow: hidden;
  aspect-ratio: 892 / 620;
  @include max-sm {
    max-width: 361px;
    aspect-ratio: 361 / 385;
  }
}

.tab_content_image {
  width: 100%;
  @include img-fluid;
}

.card_slide_section {
  padding: 130px 0;
  background-color: $color-light-green;

  :global(.container) {
    max-width: 100%;
  }
}

.card_slide_wrap {
  margin-top: 80px;
  width: 100%;
}

.card_swiper {
  padding: 0 20px;

  :global(.swiper-wrapper) {
    display: flex;
    align-items: stretch; // This will make all slides have the same height
  }
}

.card_swiper_pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  :global(.swiper-pagination-bullet) {
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 2px solid $color-primary;
    background-color: transparent;
    opacity: 1;
    transition: background-color 0.3s ease;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: $color-primary;
  }
}

.card_slide_item {
  width: 460px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: $color-light-background;
  border-radius: 30px;
  overflow: hidden;

  & .card_image_box {
    width: 100%;
    aspect-ratio: 460 / 436;
    overflow: hidden;
    position: relative;
  }

  & .card_info_box {
    padding: 35px 30px;
    gap: 8px;
    text-align: center;
    @include flex-column-center;
    flex-grow: 1;
  }

  & .card_info_title,
  & .card_info_description {
    white-space: pre-line;
    word-break: keep-all;
  }
  & .card_info_title {
    color: $color-caption;
    @include typography-heading2;
  }

  & .card_info_description {
    color: $color-paragraph;
    @include typography-paragraph;
  }
}
